<%= form_tag  rregister_index_path do  %>
				<p>
					<%= label_tag :cin_number %><br>
					<%= text_field_tag :cinno %>
				</p>
			
				<p>
					<%= label_tag :company %><br>
					<%= text_field_tag :company %>
				</p>
			
				<p>
					<%= label_tag :name %><br>
					<%= text_field_tag :name %>
				</p>
			
				<p>
					<%= label_tag :link %><br>
					<%= text_field_tag :link %>
				</p>
			
				<p>
					<%= label_tag :contact_number %><br>
					<%= text_field_tag :cno %>
				</p>
			
				<p>
					<%= label_tag :mail_id %><br>
					<%= email_field_tag :mail %>
				</p>

				<p>
					<%= label_tag :password %><br>
					<%= password_field_tag :pword1 %>
				</p>
			
				<p>
					<%= label_tag :confirm_password %><br>
					<%= password_field_tag :pword2 %>
				</p>
				<p>
					<%= submit_tag "REGISTER" %>
				</p>
<% end %>

