<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>placementor</title>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="stylesheets/animate.css">
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" href="stylesheets/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<div class="tab">
 
  <button class="tablinks" onclick="window.location='shome'">Home</button>

  <button class="tablinks" onclick="window.location='/show2'">Placement Record</button>
 
  <button class="tablinks" onclick="window.location='mrshow2'">Recruiters</button>
   
  <button class="tablinks" onclick="window.location='/shownotification'">Notifications</button>

  <button class="tablinks" onclick="window.location='logout'">Logout</button>
</div>
<div>
<!--p class="sign_in"><%#= link_to "Admin Login", new_user_session_path %>


</div-->

<body>
	<div class="container">
		<!--div class="top">
			<h1 id="title" class="hidden"><span id="logo">Placementor</span></span></h1>
		</div-->
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h2>Profile</h2>
			</div>
			<!--label for="username">Username</label>
			<br/>
			<input type="text" id="username">
			<br/>
			<label for="password">Password</label>
			<br/>
			<input type="password" id="password">
			<br/>
			<button type="submit">Sign In</button>
			<br/>
			<a href="#"><p class="small">Forgot your password?</p></a>
		</div>
	</div-->
		<div>
			<center>
				<p>
  					<strong>Register Number:</strong>
  					<%= @student.rno %>
				</p>
				<p>
  					<strong>Name:</strong>
  					<%= @student.name %>
				</p>
				<p>
  					<strong>CGPA:</strong>
  					<%= @student.cgpa %>
				</p>
				<p>
  					<strong>Branch:</strong>
  					<%= @student.branch %>
				</p>
				<p>
  					<strong>Phone:</strong>
  					<%= @student.cno %>
				</p>
				<p>
  					<strong>Email Id:</strong>
  					<%= @student.mail %>
				</p>
			</center>
		</div>
</body>
