<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>placementer</title>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="stylesheets/animate.css">
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" href="stylesheets/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<div class="tab">
 
  <button class="tablinks" onclick="window.location='/ahome'">Home</button>

  <button class="tablinks" onclick="window.location='/placementrecords/new'">Add Records</button>
 
  <button class="tablinks" onclick="window.location='recr'">Add Recruiters</button>
   
  <button class="tablinks" onclick="window.location='/addadmin/new'">Add Admin</button>

  <button class="tablinks" onclick="window.location='/notification/new'">Notification</button>

  <button class="tablinks" onclick="window.location='message_acompose'">Message</button>
  
  <button class="tablinks" onclick="window.location='/manage_user/show'">Manage Users</button>

  <button class="tablinks" onclick="window.location='/current'">Manage Current Records</button>
	
  <button class="tablinks" onclick="window.location='/manage_user/new'">Manage Company Salary</button>	

  <button class="tablinks" onclick="window.location='/logout'">Logout</button>
</div>
<!--div>
<!--p class="sign_in"><%#= link_to "Admin Login", new_user_session_path %>


</div-->

<body>
	<div class="container">
			<div class="register-box animated fadeInUp">
			<div class="box-header">
				<h2> Notification </h2>
			</div>
			
            <%= link_to 'New notification', new_notification_path %>|<%= link_to 'Appications', action:"eligible" %>
		<center>
            <table>
                <tr>
                    <th><strong>Date: </strong></th>
                    <th><strong>Title: </strong></th>
                </tr>

                <% @n.each do |x| %>
    
                <tr>
                <td><%= x.date %></td>
                <td><%= x.title %></td>
                <td><%= link_to 'Show', notification_path(x) %></td>      
                </tr>
                <% end %>

            </table>
		</center>
		</div>
	</div>
</body>

